$custom-grey: rgb(173, 169, 169);

.dashed-line {
    margin-top: 50px;
    margin-bottom: 72px;
    border-top: 2px dashed $custom-grey;
    width: 100%;
    height: 0;
}

.cust-budget-cont {
    margin-bottom: 26px;
}

.cust-box-head-Pressupostos {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    background-color: white;
}

.cust-h4-pressupostos {
    margin-left: 12px;
    font-size: 1.3rem;
    white-space: nowrap;
}

.cust-bar {
    margin-top: 52px;
    flex-wrap: nowrap;
}

.cust-btn,
p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.85rem;
    color: rgb(139, 133, 133);
    border: none;
    background-color: transparent;
}

.cust-btn-group {
    display: flex;
    margin-left: 20px;
    margin-top: 14px;
}

.cust-form-ctrl {
    width: 90%;
    height: 100%;
    padding-top: 0;
    border-right: none;
}

.form-control.cust-form-ctrl:focus {
    outline: none; 
    box-shadow: none; 
    border-color: rgb(238, 226, 226); 
  }

.search-name-btn {
    background-color: transparent;
    border: none;
}  

.search-icon-img {
    opacity: 60%;
    margin-bottom: 6px;
}

#search-icon {
    padding: 0;
    background-color: transparent;
    padding-right: 6px;
}

.input-group {
    margin-top: 15px;
    flex-shrink: 0;
}

.input-group-text .search-icon {
    display: block;
    margin: auto;
}

.input-group-text {
    flex-shrink: 0;
}

.caret-icon {
    opacity: 50%;
    margin-bottom: 6px;
    margin-left: -20px;
}

.selected {
    color: rgb(59, 57, 57)
}

li.nav-item::marker {
    list-style-type: none;
}

.custom-box {
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid rgb(245, 240, 240);
 }

 .cust-h4-name {
    font-size: 1.2rem;
    margin-top: 8px;
    margin-bottom: 0px;
 }

.pers-info-cont {
    margin-left: 22px;
    margin-right: 2px;
}

.total-h6 {
    color: rgb(116, 110, 110);
    margin-right: 12px;
}

.euro {
    font-size: 1rem;
}

.cust-serv-cont {
    margin-top: 22px;
    margin-right: 112px;
}

li {
    white-space: nowrap;
}

.serveis-h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    color: rgb(49, 46, 46);
}

li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    color: rgb(124, 116, 116);
}

@media screen and (max-width: 1199.8px) {

    .cust-bar {
        margin-left: 62px;
     }
}

@media screen and (max-width: 991.8px) {

    .cust-h4-pressupostos {
        font-size: 1.2rem;
        margin-left: 12px;
        margin-bottom: 20px;
    }

    .cust-form-ctrl {
        margin-left: 0px;
        min-width: 80px;
    }

    .cust-serv-cont {
        margin-right: 90px;
    }

    .cust-bar {
       margin-left: -56px;
    }
}

@media screen and (max-width: 767.8px) {

    .cust-form-ctrl {
        min-width: 80px;
        margin-left: -22px;
      }

    .cust-serv-cont {
        margin-right: 50px;
        margin-left: 22px;
    }

    .pers-info-cont {
        margin-left: 10px;
    }

    .cust-bar {
        margin-left: -166px;
     }

     .cust-btn-group {
        margin-left: 42px;
     }
}

