<div class="cust-search-box" *ngIf="budgets.length > 0">
    <div class="row justify-content-center">
        <div class="col-9">
            <div class="dashed-line"></div>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-9">
            <div class="cust-box-head-Pressupostos">
                <div class="row">
                    <div class="col-12">
                        <h4 class="cust-h4-pressupostos">
                            Pressupostos en curs:
                        </h4>
                    </div>
                </div>
    
                <div class="row justify-content-end">
                    <div class="col-9 px-0">
                        <nav class="navbar">
                            <form class="d-flex" role="search">
    
                                <div class="col-5">
                                    <div class="input-group flex-nowrap">
                                        <input class="form-control cust-form-ctrl" type="search" aria-label="Search">
                                        <span class="input-group-text" id="search-icon">
                                            <img class="search-icon-img" src="assets/search.svg" alt="Search icon"
                                                width="13" height="13">
                                        </span>
                                    </div>
                                </div>
    
                                <div class="col-4">
                                    <ul class="list-unstyled cust-list">
                                        <li class="nav-item list-inline-item ms-0 me-4">
                                            <a class="nav-link" href="">Data</a>
                                        </li>
                                        <li class="nav-item list-inline-item me-4">
                                            <a class="nav-link" href="">Import
                                            </a>
                                        </li>
                                        <span class="me-2">
                                            <img class="caret-icon" src="assets/caret-down.svg" alt="caret down" width="13"
                                                height="13">
                                        </span>
                                        <li class="nav-item list-inline-item">
                                            <a class="nav-link" href="">Nom</a>
                                        </li>
                                    </ul>
                                </div>
    
                            </form>
                        </nav>
                    </div>
    
                </div>
    
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center cust-budget-cont">
    <div class="col-9">

        <div class="custom-box mb-4" *ngFor="let budget of budgets">
            <div class="col-4 pers-info-cont">
                <h4 class="cust-h4-name">
                    {{ budget.contactDetails.name}}
                </h4>
                <p class="email mb-0">{{ budget.contactDetails.email }}</p>
                <p class="phone">{{ budget.contactDetails.phone }}</p>
            </div>

            <div class="col-3 cust-serv-cont">
                <h6 class="serveis-h6 mb-1">Serveis contractats:</h6>
                <ul class="ps-3">
                    <li *ngIf="budget.seo">Seo</li>
                    <li *ngIf="budget.ads">Ads</li>
                    <li *ngIf="budget.web">Web<span *ngIf="budget.numPages == 1"> (1 pàgina</span>
                        <span *ngIf="budget.numPages > 1"> ({{ budget.numPages }} pàgines</span>
                        <span *ngIf="budget.numLang == 1">, 1 llenguatge)</span>
                        <span *ngIf="budget.numLang > 1">, {{ budget.numLang}} llenguatges)</span>
                    </li>
                </ul>
            </div>

            <div class="col-2">
                <h6 class="text-end mb-1 total-h6">
                    Total:
                </h6>
                <h3 class="price text-end">{{ budget.preuPressuposat }}<span class="euro">€</span></h3>
            </div>
        </div>

    </div>
</div>