$custom-grey: rgb(102, 94, 94);

// body { // ---------------------------------------------------------
//     background-color: rgb(78, 70, 70);
// }

h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
}

p, label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: 0.85rem;
    color: $custom-grey
}

.custom-box {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    background-color: white;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    padding-top: 22px;
    padding-bottom: 22px;
    border-radius: 20px;
}

@media screen and (max-width: 991.8px) {
    
    // .price {
    //     margin-left: 12px;
    //   }

    //   .form-check {
    //     margin-left: 62px;
    // }

    .custom-H4 {
        margin-right: 96px;
    }

    // .form-check {
    //     margin-left: 94px;
    // }

    // .cust-btn {
    //     font-size: 0.7rem;
    //     margin-top: 1px;
    //     margin-right: 12px;
    // }
}



@media screen and (max-width: 767.8px) {
    
    .header-box {
        padding-top: 42px;
        padding-bottom: 42px;
        margin-bottom: 76px;
    }

    // .custom-H1 {
        
    //     font-size: 1.5rem;
    //     width: 78%;
    // }

    .custom-box {
        padding-top: 18px;
        padding-bottom: 18px;
    }

    // .border-green { //if web afegir button is pressed
    //     padding-bottom: 82px;
    // }

    // .seo-cont {
    //     margin-left: 16px;
    // }

    // .price {
    //     margin-left: 12px;
    //   }

    //   .form-check {
    //     margin-left: 62px;
    // }

    .custom-H4 {
        margin-right: 90px;
    }

//     .cust-btn {
//         margin-left: -12px;
//     }
// 
}