$custom-green: #51b68a;

.form-check-label, .prod-description {
    color: rgb(102, 94, 94);
}

.brand {
    font-weight: bold;
    margin-top: 40px;
}

.header-box {
    background-image: url("../../assets/bg-3.svg");
    opacity: 0.8;
    margin-top: 25px;
    margin-bottom: 110px;
    padding-top: 65px;
    padding-bottom: 65px;
    border-radius: 20px;
}

.custom-H1 {
    text-align: center;
    width: 640px;
    color: black;
    font-weight: bold;
    background-color: rgba(228, 220, 199, 0.7);
}

.custom-box {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    background-color: white;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    padding-top: 22px;
    padding-bottom: 22px;
    border-radius: 20px;
}

.custom-box-contact {
    flex-direction: row;
    position: relative;
    align-items: center;
    background-color: white;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    padding-top: 22px;
    padding-bottom: 22px;
    border-radius: 20px;
}
   

.prod-cont {
    margin-left: 22px;
}

.price {
  margin-left: 62px;
}

.euro {
    font-size: 1rem;
}

.form-check {
    margin-left: 180px;
}

.form-check-input:checked { 
    background-color: $custom-green;
    border-color: $custom-green;
    box-shadow: none;
}

.form-check-input {
    color: rgb(102, 94, 94);
    border: 1px solid rgb(160, 150, 150);
}

.preuFinal-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 62px;
    padding-bottom: 60px;
}

.custom-H4 {
    margin-right: 148px;
}

#h4-contact {
    font-size: 1.3rem;
    margin-left: -12px;
}


#name, #phone, #email {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: 0.85rem;
    border: 2px solid rgb(231, 223, 223);
}

.form-control#name::placeholder, .form-control#phone::placeholder, 
.form-control#email::placeholder {
    color: rgb(161, 154, 154);
  }

.cust-contact-cont {
   display: flex;
   flex-direction: row;

} 

.cust-btn {
    align-self: flex-end;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: 0.85rem;
    margin-top: 1px;
    background-color: $custom-green;
    color: white;
    border: 1px solid $custom-green;
    padding-left: 12px;
}

.app-panel-container {
    display: flex;
    margin-top: 180px;
    margin-left: 335px;
    position: absolute;
}


.form-check-input:focus {
    box-shadow: none;
}

.border-green {
    padding-bottom: 100px;
    border-color: rgb(55, 161, 41);
}

@media screen and (max-width: 1199.8px) {
   
    .cust-btn {
        font-size: 0.7rem;
        margin-top: 1px;
        margin-left: -6px;
    }
}


@media screen and (max-width: 991.8px) {
    
    .price {
        margin-left: 12px;
      }

      .form-check {
        margin-left: 62px;
    }

    .custom-H4 {
        margin-right: 96px;
    }

    .form-check {
        margin-left: 94px;
    }

    .cust-btn {
        font-size: 0.7rem;
        margin-top: 1px;
        margin-right: 12px;
    }
}


@media screen and (max-width: 767.8px) {
    
    .header-box {
        padding-top: 42px;
        padding-bottom: 42px;
        margin-bottom: 76px;
    }

    .custom-H1 {
        
        font-size: 1.5rem;
        width: 78%;
    }

    .custom-box {
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .border-green { //if web afegir button is pressed
        padding-bottom: 82px;
    }

    .seo-cont {
        margin-left: 16px;
    }

    .price {
        margin-left: 12px;
      }

      .form-check {
        margin-left: 62px;
    }

    .custom-H4 {
        margin-right: 90px;
    }

    .cust-btn {
        margin-left: -12px;
    }
}

@media screen and (max-width: 480px) {
    
    .seo-cont {
        margin-left: 6px;
    }

    .price {
        margin-left: 6px;
      }

      .form-check {
        margin-left: 38px;
    }

    .cust-btn {
         margin-left: -16px;
     }
}

