<div class="container">

    <div class="row">
        <div class="col">
            <div class="brand">Frontender.itacademy</div>
            <div class="header-box">
                <h1 class="custom-H1 mx-auto">Aconsegueix la millor qualitat</h1>
            </div>
        </div>
    </div>

    <form [formGroup]="budgetForm">
        <div class="row justify-content-center">
            <div class="col-9">
                <div class="form-control custom-box mb-4">

                    <div class="col-5 prod-cont">
                        <h4>
                            Seo
                        </h4>
                        <p class="prod-description">
                            Programació d'una web responsive <br>
                            completa
                        </p>
                    </div>

                    <div class="col-2">
                        <h3 class="price">{{seoPrice}}<span class="euro">€</span></h3>
                    </div>

                    <div class="col-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" formControlName="seo"
                                (change)="onCheckboxChange($event, 300)" id="flexCheckSeo">
                            <label class="form-check-label" for="flexCheckSeo">
                                Afegir
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-9">
                <div class="form-control custom-box mb-4">

                    <div class="col-5 prod-cont">
                        <h4>
                            Ads
                        </h4>
                        <p class="prod-description">
                            Programació d'una web responsive <br>
                            completa
                        </p>
                    </div>

                    <div class="col-2">
                        <h3 class="price">{{adsPrice}}<span class="euro">€</span></h3>
                    </div>

                    <div class="col-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" formControlName="ads"
                                (change)="onCheckboxChange($event, 400)" id="flexCheckAds">
                            <label class="form-check-label" for="flexCheckAds">
                                Afegir
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-9">
                <div class="form-control custom-box" [ngClass]="{'border-green': budgetForm.get('web')?.value}">

                    <div class="col-5 prod-cont">
                        <h4>
                            Web
                        </h4>
                        <p class="prod-description">
                            Programació d'una web responsive <br>
                            completa
                        </p>
                    </div>

                    <div class="col-2">
                        <h3 class="price">{{webPrice}}<span class="euro">€</span></h3>
                    </div>

                    <div class="col-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" formControlName="web"
                                (change)="onCheckboxChange($event, 500)" id="flexCheckWeb">
                            <label class="form-check-label" for="flexCheckWeb">
                                Afegir
                            </label>
                        </div>
                    </div>

                    <div class="app-panel-container" *ngIf="budgetForm.get('web')?.value">
                        <app-panel (webPriceInputChanged)="updatePreuPressuposat($event);"></app-panel>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="preuFinal-container">
                    <h4 class="custom-H4">Preu Pressuposat:<span class="ms-3"></span>{{ preuPressuposat }}<span
                            class="euro ms-1">€</span>
                    </h4>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-9">
                <div class="form-control custom-box-contact mb-4">

                   <div class="row">
                        <div class="col-12 prod-cont">
                            <h4 class="mb-4 mt-2" id="h4-contact">
                                Demanar pressupost
                            </h4>
                        </div>
                   </div>

                    <div class="row pb-4 justify-content-center" formGroupName="contactDetails">
                       <div class="col-9 pe-0 cust-contact-cont">

                            <div class="form-group cust-form-group me-2">
                                <input id="name" formControlName="name" class="form-control" type="text" placeholder="Nom"/>
                            </div>
                      
                            <div class="form-group cust-form-group me-2">
                                <input id="phone" formControlName="phone" class="form-control" type="tel" placeholder="Teléfon"/>
                            </div>    
                      
                           <div class="form-group cust-form-group me-4">
                                <input id="email" formControlName="email" class="form-control" type="email" placeholder="Email"/>
                            </div>
                       </div>

                       <div class="col-3 px-0">
                            <button type="submit" class="btn btn-primary cust-btn" [disabled]="formIsInvalid" (click)="onFormSubmit()">Sol·licitar pressupost <span>&#8702;</span></button>
                       </div>

                    </div>
                    
                </div>
            </div>
        </div>


    </form>





</div>