$custom-grey: rgb(173, 169, 169);

.custom-paragraph {
    margin-top: auto;
    margin-bottom: auto;
    white-space: nowrap;
    margin-right: 32px;
}

.cust-box2 {
    margin-top: 6px;
    margin-left: -27px;
}

.num-box {
    color: black;
    font-weight: 550;
    border: 1px solid $custom-grey;
    border-radius: 20%;
    width: 50px;
    height: 30px;
    text-align: center;
    justify-content: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}

.mod-box {
    color: rgb(92, 84, 84);
    display: inline-block;
    border: 1px solid rgb(71, 66, 66);
    border-radius: 50%;
    text-align: center;
    line-height: 8px;
    width: 15px;
    height: 16px;
    margin-bottom: 8px;
    font-size: 0.8rem;
}

.mod-box-btn {
    background-color: transparent;
    border: none;
    margin-right: 4px;
}


.op-box {
    color: $custom-grey;
    display: inline-block;
    border: 1px solid $custom-grey;
    border-radius: 50%;
    text-align: center;
    line-height: 8px;
    width: 12px;
    height: 13px;
}

.op-box-btn {
    background-color: transparent;
    border: none;
}

// .custom-boxes-box {
//     margin-left: 93px;
// }


@media screen and (max-width: 1400px) {

    .custom-boxes-box {
        margin-left: 96px;
    }
}

@media screen and (max-width: 1199.8px) {

    .custom-boxes-box {
        margin-left: 16px;
    }
}


@media screen and (max-width: 991.8px) {
    
    .custom-boxes-box {
        margin-left: -144px;
    }

    .custom-paragraph {
        margin-right: 6px;
    }
}

@media screen and (max-width: 767.8px) {
    
    .custom-boxes-box {
        margin-left: -258px;
    }

    .custom-paragraph {
        margin-right: 6px;
    }
}

@media screen and (max-width: 538px) {

    .custom-boxes-box {
        margin-left: -335px;
        margin-top: 22px;
    }

    .custom-paragraph {
        margin-right: 6px;
    }

    .mod-box-btn {
        margin-right: 0px;
    }
}

